<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
<%= form_tag(tasks_path, method: :get, class:"form-inline my-2 my-lg-0", id:"seach") do %>
  <%= text_field_tag :term %>
  <%= submit_tag ' Search', name: nil, class:"btn btn-outline-success my-2 my-sm-0" %>
<% end %>
<%= form_tag(tasks_path, method: :get,style:'float:left;margin-right:3px') do %>
  <%= text_field_tag :term1, params[:term1],placeholder:'  search by task name' %>
  <%= submit_tag 'Search', name: nil %>
 <% end %>
 <%= form_tag(tasks_path, method: :get,style:'float:left;margin-right:3px') do %>
  <%= text_field_tag :term2, params[:term2],placeholder:'  search by status' %>
  <%= submit_tag 'Search', name: nil %>
 <% end %>
 <%= form_tag(tasks_path, method: :get,style:'') do %>
  <%= text_field_tag :term3, params[:term],placeholder:'  search by both name or status' %>
  <%= submit_tag 'Search', name: nil %>
 <% end %><br>
<%= paginate @tasks %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Content</th>
      <th scope="col">Status</th>
      <th scope="col">Priority</th>
      <th scope="col">Start_date</th>
      <th scope="col">End_date</th>
      <th scope="col">User</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr class="table-primary">
      <th scope="row"><%= task.id %></th>
      <td><%= task.name %></td>
      <td><%= task.content %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td><%= task.start_date %></td>
      <td><%= task.end_date %></td>
      <td><%= task.user.names %></td>
      <td>
        <%= link_to 'Show', task, class:"btn btn-primary" %>
        <%= link_to 'Edit', edit_task_path(task), class:"btn btn-success" %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div >
<h3>Sort By</h3><hr>
<ol>
<li>
<%= link_to "Creation date and time", tasks_path(sort_by: "created_at"),class:'btn btn-light' %>
</li>
<li>
<%= link_to "end_date", tasks_path(sort_by: "end_date"),class:'btn btn-light' %>
</li>
<li>
<%= link_to "priority", tasks_path(sort_by: "priority"),class:'btn btn-light' %>
</li>
</ol>
  <br/><br/><br/><br/><br/><br/><br/><br/>
</div>

