<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @migration.User %>
</p>

<p>
  <strong>,task:</strong>
  <%= @migration.,task %>
</p>

<%= link_to 'Edit', edit_migration_path(@migration) %> |
<%= link_to 'Back', migrations_path %>
